sudo: required
language: python
python:
- '3.8'
install:
- pip install -r requirements/requirements.txt
- pip install -r requirements/requirements.dev.txt
script:
- python -m pytest
- pylint --version
#- pylint --rcfile=pylintrc datawig -E
#- pylint --rcfile=pylintrc test -E
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: phschmid
  password:
    secure: if1jqTL6xwjqDftUQ1xE8nGA3pgPl3kBHk5qgcmVRB9WRpu002hZLjUUN8vyNib8ZNzR0XQF8EEuYVCUyBpw8xHD0vNiPH2Hqr15SZMPXWYXM2CAp1V3IjTnpPSvKTng5Z9ylmgXDkc7Bo4ym41tM2pps/Ls9/PvGFujbmrkgVQ2R/FoqpWwpomMl9eWOwLRXJhrW7G4y5GxG3Pwn3GTdYWs3aZdYVdtVLVXcPPboWtADGk6BiDnaMhEVXpB4OzWO9FLoXmEPUBFfy0jv76mC1kzpyA9KHqNuEQWdgs5tD+rXHbaubbgWsfHvRVPmvrDbQAnMMLFwYo72udFX2LFFhD8Tcj5Dd5kk1Jok3vEINbHrbm2TFLbgu0sjs7mGcXu2qDrNv+YAkYhmHhskyd6wTBuFwPur+utK4IPoEplMiDWvItYp/9OGOCyK20OIgnaClWHXU1+fzRxsOnuWekvNRXAZ0OK0x9vWM0/M1OPlzTuX+F8sReciJXSyFBBDqqnjrZxnYFzH7Uzv8mBJs33YzeFNcjns49ogmglHjDY5pYv7kNHbA26VdiUkKdckOKz1a3nbqcvv4f9obfIIizKuxxYE6pVyAmnNwwoYbK5Q3ld4czSpfCOHZQC2PXVy0M6U3g8TmH/jamzWYQzn83PF6taDRffZ8i2A1qZG9n9j/U=
  on:
    tags: true
