sudo: required
language: python
python:
- '3.4'
install:
- pip install -r requirements/requirements.txt
- pip install -r requirements/requirements.dev.txt
script:
- python -m py.test
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: tdhd
  password:
    secure: pky1rEAYjCzrHVyNV7MwFXCaGm67esyIHpMJAOSUTKeBZe5Cc9QJBOBnIvvzsjOIcioG66bWbpKAEVlmvlt15OayyVlfzhB5vNMsGNWWgH/x/Fz1hKeXjo9RMrKYIrIBgPH9IiVG1Ht1NwH1DO8XNfpa6cFHWsF2H3+NSkro+RmQO4Kqygq9fMFKX/g0rCEkuP/Zaem26e3bDAWBhYQqDxV2NPrMhaBvcCiB7CvpHxWjStXOrmEnQNE577PTV3khcI1NMHDjOrEqj3aE5SDzCnN1I9F2wxdsvjJCe8uq6+WxEX4MfpCq8bmqyqcquvSjs+nzENgae7gt3exyRtZ1L5Wo6JNj+UpAlYk3LyAu5UfMu/nlk3UG3s7hFlFReCL5dQBb4y2WlJHfIN5JC2Z2wf0jUgqYztqO4VaJd3wtdhTEy0dT8OEF57GJkfJS3KkS7b4yIVpk9/0PFOi9wqx6hfS+EcFOU9LFvfvHXb8Bxy6+p1D6aQF4q5onDT6YXvHYYYIYy+fOZO7yywU0sFRkaA6mfNNbHemA5zr60cIr7JgTLJia1wqdcOTpGisRBsFCP2KefrWsfLjnBkGvXOtmS3PkBT0UgosVMiG8wZ6VK95dSKvGugCQUH5DPct/aQUjftSg4Yd/HRtIdi6cjPk9s1vy3iR95vfPTQNRzkHmHxw=
  on:
    tags: true
